html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

img {
    max-width: 100%;
    height: auto;
}

/* #112633 */

.section {
    min-height: 100vh;
    background-image: url(../img/35605ef0e00fa4602f6e39f83b6593eb.jpeg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

.form {
    width: 430px;
    height: 440px;
    padding: 40px;
    padding-top: 70px;
    background-color: transparent;
    backdrop-filter: blur(20px);
    border-radius: 10px;
    box-shadow: 0 5px 50px 7px #012264;
}

.form__box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 83px;
    margin-bottom: 33px;
}

.label {
    width: 33%;
    color: white;
    font-size: 18px;
    font-weight: 700;
    cursor: pointer;
}

.input,
.password{    
    width: 100%;
    height: 50px;
    padding: 0 20px;
    border-radius: 30px;
    border: none;
    color: white;
    /* background-color: #112633; */
    background-image: linear-gradient(90deg, #07255E, #06192b);
    font-size: 17px;
}

.btn {
    width: 180px;
    height: 50px;
    background: #0080FF;
    box-shadow: 0 10px 25px #1e32e960;
    border-radius: 50px;
    border: none;
    font-size: 18px;
    color: #fff;
    letter-spacing: 1px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: 0.1s ease;
}

.btn:hover {
    background: #0051a1;
}